.app {
    display: flex;
    box-sizing: border-box;
    background-color: darkolivegreen;
    background-image: url('../images/fondorym.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
}

@media only screen and (max-width: 401px) {

    .app {
        display: flex;
        box-sizing: border-box;
        background-color: darkolivegreen;
        background-image: url('../images/fondorym.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 120vh;
        width: 65vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    * {
        box-sizing: border-box;
    }

}
